<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - PPTWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PPTWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PPTWatchExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A42D2D2A1C89BF0C00430035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A42D2D3E1C89BF0C00430035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A42D2D491C89BF0C00430035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A42D2D5D1C89BF5E00430035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
